.container {
  width: 75%;
  margin: auto;
}

.outline {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}

.skin {
  position: absolute;
  left: 0;
  right: 0;
}

.shroom {
  position: absolute;
  left: 0;
  right: 0;
}

.colorSelector {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
}

.trans {
  fill: rgb(255, 255, 255, 0);
}

.cls-1 {
  fill: #fff;
}

.cls-2 {
  fill: #666;
}

.cls-3 {
  fill: #fdcc9a;
}

.cls-4 {
  fill: #cb9966;
}

.cls-5 {
  fill: #f2f2f2;
}

.cls-6 {
  fill: #b3b3b3;
}