.color-selector {
  display: inline-block;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.outline {
  margin: auto;
  width: 70vw;
  height: auto;
}

.range-div {
  margin: 1.5em;
}

.range-label {
  display: block;
  margin-bottom: .5em;
}

.cls-1 {
  fill: #fff;
}

.cls-2 {
  fill: #666;
}

.cls-3 {
  fill: #fdcc9a;
}

.cls-4 {
  fill: #cb9966;
}

.cls-5 {
  fill: #f2f2f2;
}

.cls-6 {
  fill: #b3b3b3;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .outline {
      margin: auto;
      width: 100vw;
      height: auto;
    }
}